{% include 'default/index.html.twig' %}

{% block container %}
    <div class="container">
        <h4>Modificar Estudiantes nacionales</h4>
        {% if (status != null) %}
            <h5>{{ status }}</h5>
        {% endif %}
        {{ form_start(form_nac, {'action':'', 'method':'POST'}) }}
        {{ form_end(form_nac) }}
    </div>
{% endblock %}