{% include 'AppBundle::main.html.twig' %}

{% block content %}
<div class="container">
    <h4>reportes</h4>
<div>
    <Button><a href={{ path('reporte1') }}><span class="mif-file-text"></span></a></Button>
</div>
</div>


{% endblock %}