
 {# ESTO ES UN DIALOG ADICIONAR#}
<div data-role="dialog" id="dialogAdd" class="padding20 dialog" data-type="" data-close-button="true"
     style="width: auto; height: auto" data-width="75%" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true">
    <div class="">
        <h3 align="center">Formulario</h3>

        <form action="" method="post">
            {{ form_widget(form_est_ext.nombre) }}
        </form>
        <div class="">

        </div>

        <div class="">
            <button id="close" class="button rounded"><span class="mif-cancel"></span> Cancelar</button>

            <button id="option-del" class="button rounded info"><span class="mif-plus"></span> Insertar</button>
        </div>
    </div>
</div>