{# ESTO ES UN MODAL ELIMINAR#}
<div data-role="dialog" id="dialogDelete" class="padding20 dialog" data-type="" data-close-button="true"
     style="width: auto; height: auto" data-width="25%" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true">
    <div class="">
        <h3 align="center">¡Alerta!</h3>
        <span class="mif-warning mif-4x" style="color: red; margin-left: 40%;"></span>
        <p>¿Seguro que deseas eliminarlo?</p>
        <div class="">
            <button id="close" class="button rounded"><span class="mif-cancel"></span> Cancelar</button>

            <button id="option-del" class="button rounded danger"><span class="mif-bin"></span> Eliminar</button>
        </div>
    </div>
</div>
{#......................................................#}